
    <!-- Footer ================================================== -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- <div class="col-md-3 col-md-offset-3 text-center"> -->
                        <a href="mailto:{{site.email}}"><i class="fa fa-envelope-square fa-3x"></i></a>
                        <a href="http://www.linkedin.com/in/{{site.linkedin}}/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                         <a href="https://www.github.com/{{site.github}}"><i class="fa fa-github-square fa-3x"></i></a>
                         <a href="/feed.xml"><i class="fa fa-rss-square fa-3x"></i></a>

                          <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> <a href="{{site.url}}">{{site.name}}</a></p>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </footer>
