// Colors
$blue-color: rgb(0, 32, 72);
$light-blue-color: rgb(46, 118, 176);
$very-light-blue-color: rgb(240, 245, 250);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$grey-color: rgb(178, 188, 200);
$light-grey-color: rgb(245, 245, 245);
$dark-grey-color: rgb(155, 161, 166);

// $grey-color: rgb(201, 201, 201);
